<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Micro5-Regular.ttf</string>
		<string>PatrickHand-Regular.ttf</string>
		<string>CabinSketch-Bold.ttf</string>
		<string>Strang-Regular.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>DSEG7ModernMini-Bold.ttf</string>
		<string>DSEG7ModernMini-Italic.ttf</string>
		<string>Bayon-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>PirataOne-Regular.ttf</string>
		<string>Fredoka-Medium.ttf</string>
		<string>Teko-SemiBold.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Hi-Regular.ttf</string>
		<string>Audiowide-Regular.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>RockSalt-Regular.ttf</string>
		<string>GFSDidot-Regular.ttf</string>
		<string>PlaywriteDESAS-Regular.ttf</string>
		<string>Philosopher-Bold.ttf</string>
		<string>Kablammo-Regular.ttf</string>
		<string>RubikWetPaint-Regular.ttf</string>
		<string>AmaticSC-Bold.ttf</string>
		<string>SourGummy-Bold.ttf</string>
		<string>Tourney-ExtraBold.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
	</array>
</dict>
</plist>
