<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQjmz1ikQrY4HcQMdM_LaBy8HFa0tpYSo</string>
	<key>GCM_SENDER_ID</key>
	<string>903258695214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artemis.EarthC137</string>
	<key>PROJECT_ID</key>
	<string>c137-900a8</string>
	<key>STORAGE_BUCKET</key>
	<string>c137-900a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903258695214:ios:d70d192918a4f5657ea1bf</string>
</dict>
</plist>