<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.artemis.EarthC137.Calendar</string>
		<string>group.artemis.EarthC137.Lock</string>
		<string>group.artemis.EarthC137.Lock2</string>
		<string>group.artemis.EarthC137.Lock3</string>
		<string>group.artemis.EarthC137.widget1</string>
		<string>group.com.artemis.EarthC137.isEnglish</string>
	</array>
</dict>
</plist>
